<div class="main-container">
  <div class="header-banner">
    <img
      class="cover-photo"
      src="assets/clinic-page-cover.jpg"
      alt="cover-photo"
    />

    <div class="header-title">
      <div class="left-container">
        <img
          class="profile-picture"
          src="assets/clinic-page-profile.jpg"
          alt="profile-photo"
        />
        <div class="flex-text">
          <h1>Clinic Atomic</h1>
          <h2>Dr. Shadow</h2>
          <p>Slime Magic</p>
        </div>
      </div>

      <div class="right-container">
        <button>
          <img src="assets/bookmark-icon.png" alt="Bookmark" />
          <p>BOOK NOW</p>
        </button>
      </div>
    </div>
  </div>
  <div class="body-flex">
    <div class="left-container"></div>
    <div class="right-container"></div>
  </div>
</div>
