<div
  [ngClass]="isNavbarScrolled ? 'header-bar scrolled' : 'header-bar'"
  *ngIf="currentRoute !== '/'"
>
  <div class="header-content">
    <div class="logo">
      <h1>HealthConnect</h1>
    </div>
    <div class="header-menu">
      <img src="assets/notification.png" alt="Notification" />
      <img src="assets/menu.png" alt="Menu" />
    </div>
  </div>
</div>
<div class="profile-screen" *ngIf="currentRoute === '/clinic'">
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="currentRoute !== '/clinic'">
  <div class="content-body" *ngIf="currentRoute !== '/'">
    <router-outlet></router-outlet>
  </div>
  <div class="login-body" *ngIf="currentRoute === '/'">
    <router-outlet></router-outlet>
  </div>
</ng-container>
<div class="footer-bar" *ngIf="currentRoute !== '/'">
  <div class="footer-content">
    <p>© 2025 HealthConnect. All rights reserved.</p>
  </div>
</div>
