<div class="login-container">
  <div class="login-image">
    <img
      src="https://images.squarespace-cdn.com/content/v1/5936cc36be6594d92e83a82c/1567166514417-CYGZYIRTLLTD8E1DL8U6/20190830_074824.jpg?format=550w"
      alt="Login Image"
    />
  </div>
  <div class="main-content">
    <div class="login-content">
      <h1 class="login-title">Sign In</h1>
      <h2 class="login-subtitle">Unlock your world.</h2>

      <p class="input-label">Email</p>
      <input
        type="email"
        class="login-input"
        placeholder="Enter your email"
        name="email"
      />

      <p class="input-label">Password</p>
      <input
        type="password"
        class="login-input"
        placeholder="Enter your password"
        name="password"
      />

      <button class="login-button">Sign In</button>
      <button class="create-account">Create an account</button>

      <div class="login-link">
        <a href="">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
