<div class="login-container">
  <div class="login-image">
    <img
      src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.6435-9/31934919_2328956010453656_8732138274816000000_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeGAgM16zYgirGz67pW9HqO2tVUXFyI8qgu1VRcXIjyqCxNUVcEKdYnFY4s2WZm4L97KC406wnrSlhgL37aIv-A9&_nc_ohc=FCYH0tV7WioQ7kNvgEJyGvQ&_nc_oc=AdiXCfKpcdOSH-lHPmCfgxAdP48I6tEE9phkjYVVHis1gvyDXTxsfhArbx4MBwcqMudyV8CB-g62PtCGYfMOSzOy&_nc_zt=23&_nc_ht=scontent.fceb2-2.fna&_nc_gid=As6pTB8A46vYY8qNCpEYUSl&oh=00_AYFugkWscF0B0tmW8tD3FywOzhhRAlkGbSEe3RIRhMV6-g&oe=67F65B79"
      alt="Login Image"
    />
  </div>
  <div class="login-content">
    <h1 class="login-title">Login</h1>
    <p class="login-input">Username</p>
    <p class="login-input">Password</p>
  </div>
</div>
