// login style
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 500px;
  gap: 30px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 90vw;
  }

  .login-image {
    width: 50%;
    overflow: hidden;

    img {
      width: 400px;
      object-fit: scale-down;
    }
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 769px) {
      width: 50%;
    }

    .login-content {
      width: 80%;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-sizing: border-box;

      .login-title {
        font-family: "Jost", sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: -5px;
      }

      .login-subtitle {
        font-family: "Jost", sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .label-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -10px;
        gap: 5px;

        .input-label {
          font-family: "Jost", sans-serif;
          font-size: 12px;
        }

        .required {
          color: red;
        }
      }

      .login-input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        width: calc(100% - 2px);
      }

      .login-button {
        width: 100%;
        padding: 10px;
        background-color: #205781;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0;
        border-radius: 10px;
      }

      .create-account {
        width: 100%;
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      .login-link {
        font-family: "Jost", sans-serif;
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
        text-align: center;

        a {
          color: #205781;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

// signup style
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 700px;
  gap: 30px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 90vw;
  }

  .signup-image {
    width: 50%;
    overflow: hidden;

    img {
      width: 470px;
      object-fit: scale-down;
    }
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 769px) {
      width: 50%;
    }

    .signup-content {
      width: 80%;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-sizing: border-box;

      .signup-title {
        font-family: "Jost", sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: -5px;
      }

      .signup-subtitle {
        font-family: "Jost", sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .label-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -10px;
        gap: 5px;

        .input-label {
          font-family: "Jost", sans-serif;
          font-size: 12px;
        }

        .required {
          color: red;
        }
      }

      .signup-input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        width: calc(100% - 2px);
      }

      .signup-button {
        width: 100%;
        padding: 10px;
        background-color: #205781;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0;
        border-radius: 10px;
      }

      .go-back {
        width: 100%;
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 10px;
      }
    }
  }
}

// signup-phase-2 phase 2 style
.signup-phase-2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 700px;
  gap: 30px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 90vw;
  }

  .signup-phase-2-image {
    width: 50%;
    overflow: hidden;

    img {
      width: 470px;
      object-fit: scale-down;
    }
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 769px) {
      width: 50%;
    }

    .signup-phase-2-content {
      width: 80%;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-sizing: border-box;

      .signup-phase-2-title {
        font-family: "Jost", sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: -5px;
      }

      .signup-phase-2-subtitle {
        font-family: "Jost", sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .label-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -10px;
        gap: 5px;

        .input-label {
          font-family: "Jost", sans-serif;
          font-size: 12px;
        }

        .required {
          color: red;
        }
      }

      .radio-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        .radio-option {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-family: "Jost", sans-serif;
          font-size: 12px;
          gap: 5px;
        }
      }

      .signup-phase-2-button {
        width: 100%;
        padding: 10px;
        background-color: #205781;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0;
        border-radius: 10px;
      }

      .go-back {
        width: 100%;
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 10px;
      }
    }
  }
}

// forgot-password style
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 600px;
  gap: 30px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 90vw;
  }

  .forgot-password-image {
    width: 50%;
    overflow: hidden;

    img {
      width: 400px;
      object-fit: scale-down;
    }
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 769px) {
      width: 50%;
    }

    .forgot-password-content {
      width: 80%;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-sizing: border-box;

      .forgot-password-title {
        font-family: "Jost", sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: -5px;
      }

      .forgot-password-subtitle {
        font-family: "Jost", sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .label-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: -10px;
        gap: 5px;

        .input-label {
          font-family: "Jost", sans-serif;
          font-size: 12px;
        }

        .required {
          color: red;
        }
      }

      .forgot-password-input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        width: calc(100% - 2px);
      }

      .forgot-password-button {
        width: 100%;
        padding: 10px;
        background-color: #205781;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0;
        border-radius: 10px;
      }

      .go-back {
        width: 100%;
        padding: 10px;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
        border-radius: 10px;
      }
    }
  }
}

.copyright {
  font-family: "Jost", sans-serif;
  font-size: 12px;
  color: white;
  margin-bottom: -5px;
}
